{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="us">

<head>
    <meta charset="utf-8">
    <title></title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% bootstrap_css %}

    {% endblock %}
</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
    {%endblock%}

    {% block scripts %}

<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>