{% extends 'base.html'%}
{% load bootstrap4  %}
{%load static%}


{%block content%}
<div class="container-fluid">
    <h2>Post your Project</h2>
    <hr>
    <form class="form" action="" method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                {% bootstrap_form form layout='block' %}
                <button type="submit" class="btn btn-sm btn-info" style="margin-top:10px; margin-left:5px">post</button>
            </div>
            <div class="col-md-2"></div>



        </div>
    </form>
</div>



{%endblock%}